body{
	background-size: 100%;
	background-color: #C3EDF8;
	font-family: Verdana;
}
header{
	background-color:#080939;
	color: white;
	text-align: center;
	padding: 5px;
	font-size: 40px;
	width: 100%;
}
nav{
	line-height: 30px;
	background-color: #006FBA;
	color: white;
	height: 600px;
	width: 200px;
	float: left;
	padding: 5px;
	font-size: 22px;
	text-decoration: none;
	margin: 20px;
	width: 20%;
}
nav a:hover{
	text-decoration: underline;
	cursor: pointer;
}
section{
	width: 750px;
	float: left;
	padding: 10px;
	color: black;
	text-align: justify;
	font-size: 20px;
	padding: 0px 150px 0px 150px;
}
h2{
	font-size: 40px;
	text-align: center;
	font-family: Verdana;
	color: #080939;
}
.c{
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
	color: #080939;
}

footer{
	background-color: #080939 ;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
	width: 100%;
}
img{
	display: block;
	margin: auto;
	clear: right;
}
a{
	text-decoration: none;
	color: white;
}
 
main .fondo{
	text-align: center;
	width: 40%;
}
main .fondo img{
	max-width: 50%;
	height: auto;
	cursor: pointer;
	border-radius: 10px;
	transition: scale(1.05);
}

img{
	display: block;
	margin: auto;
	clear: right;
}
a{
	text-decoration: none;
	color: white;
}

@media (max-width: 480px) {
    header {
        font-size: 24px; 
    }

    nav {
        font-size: 18px; 
    }

    section {
        font-size: 18px; 
    }

    h2 {
        font-size: 24px; 
    }

    .c {
        font-size: 16px; 
    }
    body {
    background-size: 100%;
    background-color: #C3EDF8;
    font-family: Verdana;
}

	header {
	    background-color: #080939;
	    color: white;
	    text-align: center;
	    padding: 5px;
	    font-size: 40px;
	    width: 100%;
	}

	nav {
	    line-height: 30px;
	    background-color: #006FBA;
	    color: white;
	    height: auto; 
	    width: 20%; 
	    float: left;
	    padding: 5px;
	    font-size: 22px;
	    text-decoration: none;
	    margin: 20px;
	}

	nav a:hover {
	    text-decoration: underline;
	    cursor: pointer;
	}

	section {
	    width: 75%; 
	    float: left;
	    padding: 10px;
	    color: black;
	    text-align: justify;
	    font-size: 20px;
	}

	h2 {
	    font-size: 40px;
	    text-align: center;
	    font-family: Verdana;
	    color: #080939;
	}

	.c {
	    font-size: 20px;
	    text-align: center;
	    font-family: Verdana;
	    color: #080939;
	}

	footer {
	    background-color: #080939;
	    color: white;
	    clear: both;
	    text-align: center;
	    padding: 5px;
	    width: 100%;
	}

	img {
	    display: block;
	    margin: auto;
	    clear: right;
	}

	a {
	    text-decoration: none;
	    color: white;
	}

	main .fondo {
	    text-align: center;
	    width: 40%;
	}

	main .fondo img {
	    max-width: 100%;
	    height: auto;
	    cursor: pointer;
	    border-radius: 10px;
	    transition: transform 0.3s; 
	}
	}


	 
